body {
    margin: 0;
    padding: 0;
    background-color: #edd8c3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-details{
    min-height: 100vh;
    width: 100%;
    display : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0px 20px ;
    align-items: center;
}

.card-details img{
    height: 600px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: #3E2723;
    margin-left: 70px;
    box-sizing: border-box;
}

.details{
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 40px;
    color: #3E2723;
    border-radius: 10px;
    border-style: dotted;
}

.details h2{
    font-size: 40px;
}

.details p{
    font-size: 25px;
}

.details button{
    width: 20%;
    height: 40px;
    cursor: pointer;
    background-color: #3E2723;
    color: #edd8c3;
    border-radius: 10px;
    font-size: 17px;
    border: none;
}

.details button:hover{
    background-color: #D87D4A;
    color: #3E2723;
}