body {
    margin: 0;
    padding: 0;
    background-color: #edd8c3;
}

.logo{
    position: absolute;
    top: 20px;    
    left: 20px;   
    width: 100px;  
    z-index: 100;
}

/* slider */
.slider-window {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
    color: white;
    width: 80%;   
    z-index: 2;   
}

.slide-content h2 {
    font-size: 100px; 
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.slide-content p {
    font-size: 25px;
    margin-top: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slider-track {
    display: flex;
    height: 100vh;
    transition: transform 0.8s ease-in-out;
}

.slider-track img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards */
.cards {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    padding: 30px 50px;
    box-sizing: border-box;
    text-align: center;
    color: #edd8c3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card1, .card2, .card3 {
    background-color: #D87D4A;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.card1 img, .card2 img, .card3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #edd8c3;
    box-sizing: border-box;
}

.cards button {
    justify-self: center;
    width: 40%;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: #edd8c3;
    color: #D87D4A;
    border-radius: 10px;
    font-size: 17px;
    border-style: solid;
    border-style: none;
}

.cards p{
    margin: 0px -3px;
    font-size: 25px;
}

.cards button:hover{
    background-color: #3E2723;
    color: #edd8c3;
}