body{
    background-image: url("/images/background.jpg");
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img{
    height: 95vh;
    margin-left: 8%;
    margin-top: 2%;
}
h2{
    color: #002333;
    font-size: 230%;
    margin-top: -10px;
}

form{
    width: 30%;
    height: 40%;
    text-align: center;
    color: #002333;
    font-weight: bold;
    background-color: #edd8c3;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    padding-top: 3%;
    padding-bottom: 4%;
    margin-top:0.5%
}

input{
    width: 60%;
    height: 10%;
    margin-bottom: 25px ;
    margin-top: 5px ;
    border-radius: 7px;
    text-align: center;
    border-color: #002333 ;
    border-style: dashed;
    outline: none;
}

label{
    font-size: 110%;
}

.Btn{
    width: 100px;
    height: 50px;
    margin-bottom:10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-style: none;
    color: #002333;
    font-size: 110%;
}

.Btn:hover{
    background-color: #f19833;
}

a{
    color: #002333;
}

a:hover{
    color: #f19833;
}